<style>
  .slideInLeft {
-webkit-animation-name: slideInLeft;
animation-name: slideInLeft;
-webkit-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
animation-fill-mode: both;
}
@-webkit-keyframes slideInLeft {
0% {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
visibility: visible;
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
}
@keyframes slideInLeft {
0% {
-webkit-transform: translateX(-100%);
transform: translateX(-100%);
visibility: visible;
}
100% {
-webkit-transform: translateX(0);
transform: translateX(0);
}
} 
</style>

<div class="app-sidebar__overlay" data-toggle="sidebar"></div>
  <aside class="app-sidebar" style="background-color: black;">
    <div class="app-sidebar__user"><img class="app-sidebar__user-avatar slideInLeft" src="/images/Admin.png" alt="User Image" width="20%">
      <div>
        <p class="app-sidebar__user-name slideInLeft">Administrador</p>
      </div>
    </div>
    <ul class="app-menu slideInLeft">
          <li><a class="app-menu__item" style="background-color: black; color: white;" href="/panelProductos"><i class="app-menu__icon"></i><span class="app-menu__label">Manuales</span></a></li>
          <li><a class="app-menu__item" style="background-color: black; color: white;" href="/panelVentas"><i class="app-menu__icon"></i><span class="app-menu__label">Ventas realizadas</span></a></li>
          <li><a class="app-menu__item" style="background-color: black; color: white;" href="/panelClientes"><i class="app-menu__icon"></i><span class="app-menu__label">Clientes</span></a></li>
          <!--<li><a class="app-menu__item" href="/Notificaciones"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Notificaciones</span></a></li>-->
          <!--<li><a class="app-menu__item" href="/panelUsuarios"><i class="app-menu__icon fa fa-circle-o"></i><span class="app-menu__label">Usuarios</span></a></li>-->

    </ul>
  </aside>