    <!-- *** FOOTER ***
    _________________________________________________________ -->
    <div id="footer"  style="background-color: black">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <h4 style="color: white">Nuestro sitio</h4>

                    <ul>
                        <li>
                            <a href="/Productos" style="color: white">Productos</a>
                        </li>
                        <li>
                            <a href="/acercade" style="color: white">¿Quienes somos?</a>
                        </li>
                        <!--<li>
                            <a href="/login">Mi Panel</a>
                        </li>-->

                    </ul>



                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4 style="color: white">Desarrolladores</h4>

                    <ul>
                        <li>
                            <span style="color: white">Daryl Asdrúbal Segovia Alonzo<span>
                        </li>
                        <li>
                            <span style="color: white">José Rogelio Chac Cobá<span>
                        </li>
                        <li>
                            <span style="color: white">Edwin Alejandro Chi Moo<span>
                        </li>
                        <li>
                            <span style="color: white">Walter Azael Escamilla Pech<span>
                        </li>
                    </ul>


                </div>
                <!-- /.col-md-3 -->

                <div class="col-md-3 col-sm-6">

                    <h4 style="color: white">Dónde encontrarnos</h4>

                    <ul>
                        <strong style="color: white">Dirección:</strong>
                        <li>
                        <span style="color: white">Calle 115 No. 404 por Calle 50,  
                        </li>
                        <li>
                        <span style="color: white">Santa Rosa, 97279,
                        </li>
                        <li>
                        <span style="color: white">Mérida, Yuc.
                         </li>
                        </ul>


                </div>

                <div class="col-md-3 col-sm-6">
                    <h4 style="color: white">¡Encuentranos aquí!</h2>
                    <div class="map">
                        <iframe class="slideInUp" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1863.1630350857736!2d-89.61635824204544!3d20.939416696511735!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f5672270a784baf%3A0x764b40010695f0d9!2sUniversidad+Tecnol%C3%B3gica+Metropolitana!5e0!3m2!1ses-419!2smx!4v1530163878248" width="300" height="200" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div>

            </div>
            <!-- /.row -->

        </div>
        <!-- /.container -->
    </div>
    <!-- /#footer -->

    <!-- *** FOOTER END *** -->

    <div id="copyright" style="background-color: rgba(0, 0, 0, 0.836)">
        <div class="container">
            <div class="col-md-6">
                <h5 class="text-center" style="margin-left:380px; color: white">© 2018 Manuales digitales de programación.</h5>
            </div>

        </div>
    </div>
<!-- *** COPYRIGHT END *** -->

</div>






    </script>
-->

<script src="/javascripts/jquery-3.2.1.mins.js"></script>
<script src="/javascripts/jquery-1.11.0.min.js"></script>
<script src="/javascripts/bootstrap.min.js"></script>
<script src="/javascripts/jquery.cookie.js"></script>
<script src="/javascripts/waypoints.min.js"></script>
<script src="/javascripts/modernizr.js"></script>
<script src="/javascripts/bootstrap-hover-dropdown.js"></script>
<script src="/javascripts/owl.carousel.min.js"></script>
<script src="/javascripts/front.js"></script>

</body>

</html>