<%- include layouts/header.ejs %>

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">


                    <h2 class="text-center">Tus descargas</h2>
                

            </div>

            <!--<div class="col-md-3"></div>-->

            <div class="col-md-12" >
                <div class="box">
                    <form action="/getData" method="get">

                    <center><h2>Inicie sesión para accerder a esta sesión, ¡gracias!</h2></center>

                    </form>

                </div>
            </div>

            <!--<div class="col-md-3"></div>-->


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


<%- include layouts/footer.ejs %>