<%- include layouts/header.ejs %>

<style>
 .slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  }
  @keyframes slideInLeft {
  0% {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  visibility: visible;
  }
  100% {
  -webkit-transform: translateX(0);
  transform: translateX(0);
  }
  } 
</style>

<script>
        function validateForm() {

            var a = document.forms["formulario"]["username"].value;
            if (a == "") {

                alert("Ingresa un Usuario valido");
                return false;
            }

            var b = document.forms["formulario"]["password"].value;
            if (b == "") {
                alert("Ingresa una Contraseña válida");
                return false;
            }

        }
        </script>

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <img class="card-img-top slideInLeft" style="margin-left:540px"  src="images/User.png %>" alt="Card image cap" height="50px" width="auto">

            </div>
            <div class="col-md-3"></div>

            <br/>
            <div class="col-md-6" class="slideInLeft" >
                <div class="box" style="background-color: black">
                    <h5 class="text-center" style="color: white">Inicio de Sesión</h1>

                    <form action="/login" method="post" onsubmit="return validateForm()" name="formulario">
                        <div class="form-group">
                            <label for="" style="color: white">Usuario</label>
                            <input type="text" class="form-control" id="username" name="username">
                        </div>
                        <div class="form-group">
                            <label for="password" style="color: white">Password</label>
                            <input type="password" class="form-control" id="password" name="password">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn">Acceder</button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-md-3"></div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


<%- include layouts/footer.ejs %>