<%- include layouts/adminheader.ejs %>
    <%- include layouts/adminsidebar.ejs %>

        <script>
        function validateForm() {

            var a = document.forms["formulario"]["titulo"].value;
            if (a == "") {

                alert("Ingresa un Título válido");
                return false;
            }

            var b = document.forms["formulario"]["descripcion"].value;
            if (b == "") {
                alert("Ingresa una Descripción válida");
                return false;
            }

            var c = document.forms["formulario"]["imagen"].value;
            if (!c) {
                alert("Selecciona una imagen");
                return false;
            }

            var d = document.forms["formulario"]["autor"].value;
            if (d == "") {
                alert("Ingresa un nombre de Autor válido");
                return false;
            }

            var e = document.forms["formulario"]["tecnologia"].value;
            if (e == "") {
                alert("Ingresa un tipo de Tecnología válida");
                return false;
            }

            var f = document.forms["formulario"]["precio"].value;
            if (f == "" || isNaN(f)) {
                alert("Ingresa un Precio válido");
                return false;
            }

            var h = document.forms["formulario"]["archivo"].value;
            if (!h) {
                alert("Selecciona un Archivo a subir");
                return false;
            }

            var g = document.forms["formulario"]["stock"].value;
            if (g == "" || isNaN(g)) {
                alert("Ingresa un número de Existencia válido");
                return false;
            }



        }
        </script>

        <main class="app-content">
            <div class="row">
                <div class="col-md-12">
                    <div class="tile" style="background-color: gray">
                        <h3 class="tile-title text-center">Nuevo Manual</h3>
                        <div class="tile-body">
                            <form action="/panelCreate" method="post" name="formulario" enctype="multipart/form-data" onsubmit="return validateForm()">
                                <div class="col-md-12">
                                    <div class="row">
                                            <div class="form-group col-md-4">
                                                    <label class="control-label">Título</label>
                                                    <input class="form-control" type="text" name="titulo" id="titulo">
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="control-label">Descripción</label>
                                                        <textarea class="form-control" rows="4" name="descripcion" id="descripcion"></textarea>
                                                </div>
                                                <div class="form-group col-md-4">
                                                            <label class="control-label">Selecciona su imagen (libro)</label>
                                                            <input class="form-control" type="file" accept="image/jpeg, image/bmp, image/png" name="imagen" id="imagen">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                            <div class="form-group col-md-4">
                                                    <label class="control-label">Nombre del Autor</label>
                                                    <input class="form-control" type="text" name="autor" id="autor">
                                                </div>
                                                
                                                <div class="form-group col-md-4">
                                                        <label class="control-label">Tecnología</label>
                                                        <input class="form-control" type="text" name="tecnologia" id="tecnologia">
                                                </div>
                                                <div class="form-group col-md-4">
                                                        <label class="control-label">Precio</label>
                                                        <input class="form-control" type="text" name="precio" id="precio">
                                                </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                            <div class="form-group col-md-6">
                                                    <label class="control-label">Selecciona el documento a cargar</label>
                                                    <input class="form-control" type="file" accept="application/pdf, application/zip" name="archivo" id="archivo">
                                                </div>
                                                <div class="form-group col-md-6">
                                                        <label class="control-label">Stock</label>
                                                        <input class="form-control" type="text" name="stock" id="stock">
                                                </div>
                                    </div>
                                </div>
                                

                            
                        </div>
                        <div class="tile-footer">
                            <button class="btn btn-block" type="submit" style="background-color: black; color: white">
                                <i class=""></i>Agregar</button>&nbsp;&nbsp;&nbsp;
                            <a class="btn btn-block" style="background-color: black; color: white" href="/panelProductos">
                                <i class=""></i>Volver</a>
                        </div>

                    </form>
                    </div>
                </div>

                <div class="col-md-6"><div class="tile-body"></div></div>

            </div>

        </main>

        <%- include layouts/adminfooter.ejs %>