<%- include layouts/header.ejs %>

<div id="all">

    <div id="content">
        <div class="container">

            <div class="col-md-12">

                <h2 class="text-center">Manuales digitales de programación</h2>

            </div>

            <div class="col-md-3"></div>

            <div class="col-md-6" >
                <div class="box">
                    <center><h1>Gracias por su preferencia le otorgaremos un link de descarga para su libro</h1></center>

                    <center><h2><a href="/panelUsuario">Ir a su panel de descargas</a></h2></center>


                </div>
            </div>

            <div class="col-md-3"></div>


        </div>
        <!-- /.container -->
    </div>
    <!-- /#content -->


<%- include layouts/footer.ejs %>